@import "vars";
@import "fonts";
@import "global";
@import "reset";
@import "fonts";
@import "libs";

.header {
  background-color: $white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;

  &__form {
    padding-left: 25px;
  }

  &__btn {
    @extend %robotoslab-700;
    position: relative;
    padding: 15px 25px 15px 0;
    border-right: 1px solid $gray;
    @extend %transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__label {
    position: relative;
    padding-left: 55px;

    & svg {
      position: absolute;
      width: 20px;
      height: 20px;
      fill: $gray;
      left: 0;
    }
  }

  &__input {
    border: none;
    padding-left: 10px;
    width: 730px;
  }

  &__link {
    display: flex;
    margin-right: 25px;
    align-items: center;
    @extend %transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__img {
    border: 2px solid $gray;
    margin-right: 10px;
  }

  &__user-nav {
    display: flex;
  }

  &__sub {
    font-size: 12px;
    @extend %robotoslab-700;
    line-height: 15px;
    display: block;
    max-width: 119px;
  }

  &__price {
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    display: block;
  }

  &__button {
    position: relative;
    padding-left: 30px;
    color: $gray;
    @extend %transition;

    & svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      fill: $gray;
      @extend %transition;
    }

    &:hover {
      color: $bg-gray;
    }

    &:hover svg {
      fill: $bg-gray;
    }
  }
}

.header-middle {
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
  }

  &__content-img {
    margin-right: 15px;
  }

  &__content-text {
    color: $dark-gray;
  }

  &__info {
    display: flex;
    color: $dark-gray;
  }

  &__info-data {
    margin-right: 23px;
  }

  &__info-temperature {
    padding-left: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("../images/icons/sun.svg");
    }
  }
}

.header-nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
  }

  &__list-item {
    color: $white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    @extend %robotoslab-700;
    @extend %transition;

    &:hover {
      opacity: 0.7;
    }
  }
}

.promo {
  padding: 30px 0;

  &__list-items {
    display: flex;
    padding: 25px 25px 30px 25px;
    background-color: $dark-gray;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    @extend %robotoslab-700;
    color: $white;
    padding: 0 25px;

    &:not(:last-child) {
      border-right: 1px solid $light-gray;
    }

    &:first-child {
      padding-left: 0;
      padding-right: 25px;
    }

    &:last-child {
      padding-right: 0;
      padding-left: 25px;
    }
  }

  &__list-text {
    max-width: 154px;
    width: 100%;
    margin-right: 15px;
  }
}

.promo-user {
  display: flex;

  &__avatar {
    background-repeat: no-repeat;
    background-size: 877px 570px;
    background-position: left;
    padding: 55px 50px 95px 55px;
    position: relative;
    border-radius: 10px 0 0 10px;
    z-index: 10;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    max-width: 877px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: rgba(64, 48, 61, 0.35);
    }
  }

  &__prof {
    display: flex;
    align-items: center;
  }

  &__prof-img {
    border-radius: 50%;
    margin-right: 10px;
  }

  &__prof-name {
    color: $white;
    opacity: 0.85;
  }

  &__prof-info {
    font-size: 12px;
    opacity: 0.4;
    color: $white;
    line-height: 15px;
    display: block;
  }

  &__content {
    margin-top: auto;
  }

  &__content-subtitle {
    color: $dark-aqua;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__content-title {
    font-size: 40px;
    line-height: 50px;
    @extend %robotoslab-700;
    color: $white;
    max-width: 598px;
    margin-bottom: 45px;
  }

  &__content-play {
    display: flex;
  }

  &__content-link {
    margin-right: 30px;
  }

  &__content-btn {
    color: $white;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 60px;
    @extend %transition;

    & time {
      font-size: 12px;
      line-height: 15px;
      opacity: 0.4;
    }

    & svg {
      width: 50px;
      height: 50px;
      fill: $white;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      padding: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @extend %transition;
    }

    &:hover {
      color: $aqua;
    }

    &:hover svg {
      fill: aqua;
      border: 1px solid $aqua;
    }
  }

  &__sidebar-title {
    padding: 20px 25px 19px 25px;
    text-align: center;
    color: $bg-gray;
  }

  &__sidebar-items {
    background-color: $white;
    text-align: left;
    color: $dark-gray;
    border-radius: 0 10px 10px 0;
    max-width: 263px;
  }

  &__sidebar-content {
    padding: 18px 25px 19px 25px;
    border-top: 1px solid $light-gray;
  }

  &__sidebar-subtitle {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;

    &--aqua {
      color: $aqua;
    }

    &--blue {
      color: $blue;
    }

    &--purple {
      color: $purple;
    }

    &--orange {
      color: $orange;
    }

    &--green {
      color: $light-green;
    }
  }

  &__sidebar-title {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__sidebar-btn {
    text-align: left;
    padding-right: 30px;
    position: relative;
    display: block;
    @extend %transition;

    & svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 1px solid $light-gray;
      padding: 5px;
      border-radius: 50%;
      opacity: 0;
      @extend %transition;
    }

    &:hover {
      color: black;
    }

    &:hover svg {
      opacity: 1;
    }
  }
}

.preview {
  padding: 30px 0 60px 0;
  background-color: #edeff0;

  &__inner {
    display: flex;
  }

  &__list-items {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__list-item {
    border-radius: 10px;
  }

  &__bottom-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    min-height: 375px;
  }

  &__bottom-item {
    max-width: 263px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;

    &:nth-child(1) {
      grid-row: span 2;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding: 25px 25px 30px 25px;
    }
  }

  &__bottom-item-title {
    font-size: 16px;
    line-height: 25px;
    @extend %robotoslab-700;

    &--animal {
      padding: 15px 25px 30px 25px;
    }
  }

  &__bottom-item-text {
    color: $dark-gray;
    margin-bottom: 10px;
  }

  &__bottom-item-date {
    font-size: 12px;
    line-height: 15px;
    color: $light-gray;
  }

  &__sidebar {
    max-width: 263px;
    width: 100%;
    background-color: $aqua-gray;
    border-radius: 10px;
  }

  &__sidebar-item {
    padding: 45px 25px;
    border-top: 1px solid rgb(180, 209, 224, 0.5);
    position: relative;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      background-image: url("../images/icons/quote.svg");
      width: 40px;
      height: 40px;
      z-index: -1;
      left: 15px;
    }
  }

  &__sidebar-item-title {
    color: $white;
    padding: 20px 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__sidebar-text {
    @extend %robotoslab-700;
    font-size: 20px;
    line-height: 25px;
    color: $white;
    margin-bottom: 19px;
  }

  &__sidebar-name {
    color: $gray-blue;
    position: relative;
  }

  &__sidebar-link {
    display: flex;
    align-items: center;
  }

  &__sidebar-img {
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__sidebar-work {
    display: block;
    font-size: 12px;
    line-height: 15px;
  }

  &__sidebar-btn {
    border-top: 1px solid rgb(180, 209, 224, 0.5);
    @extend %robotoslab-700;
    display: block;
    padding: 11px 96px;
    text-align: center;
    color: $white;
  }

  .preview-lists {
    margin-right: 30px;
  }
}

.preview-cars {
  padding: 35px 0 18px 35px;
  max-width: 555px;
  width: 100%;
  background-color: #fff;

  &__list-content {
    display: flex;
  }

  &__list-name {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $blue;
    display: block;
  }

  &__list-title {
    font-size: 25px;
    line-height: 30px;
    @extend %robotoslab-700;
    margin-bottom: 25px;
    max-width: 238px;
    width: 100%;
  }

  &__list-text {
    max-width: 238px;
    width: 100%;
  }

  &__list-reviews {
    padding-top: 12px;
    border-top: 1px solid $border-color;
  }

  &__list-author {
    padding-left: 40px;
    position: relative;
    @extend %robotoslab-700;

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("../images/preview/author.jpg");
      background-repeat: no-repeat;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list-link:hover svg {
    fill: $pink;
  }

  &__list-review {
    margin: 0 15px 0 5px;
    @extend %lato-400;
  }

  &__list-comments {
    padding-left: 20px;
    @extend %lato-400;
    color: $light-gray;
    position: relative;

    & svg {
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      fill: $gray;
      @extend %transition;
    }
  }
}

.preview-popular {
  padding: 23px 25px 30px 25px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 263px;
  width: 100%;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;

  &__content {
    margin-top: auto;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(64, 48, 61, 0.35);
    border-radius: 10px;
    z-index: -1;
  }

  &__text {
    font-size: 16px;
    @extend %robotoslab-700;
    color: $white;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__author {
    padding-left: 55px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      background-image: url("../images/preview/author.jpg");
      z-index: 15;
    }

    &:hover svg {
      fill: $pink;
    }
  }

  &__name {
    color: $white;
    opacity: 0.85;
    margin-bottom: 5px;
  }

  &__profile {
    opacity: 0.4;
    font-size: 12px;
    line-height: 15px;
    color: $white;
  }

  &__date {
    margin-right: 10px;
  }

  &__likes {
    padding-left: 20px;
    position: relative;

    & svg {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      fill: $white;
      @extend %transition;
    }
  }

  &__reviews {
    padding-left: 20px;
    position: relative;
    margin-right: 10px;

    & svg {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      fill: $white;
      @extend %transition;
    }
  }

  &--popular {
    &:before {
      content: "Popular";
      color: $white;
      padding: 5px 12px;
      background-color: $light-green;
      border-radius: 3px;
      position: absolute;
      top: 18px;
    }
  }
}

.advertisement {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0 55px 0;

  &__title {
    font-size: 40px;
    line-height: 50px;
    @extend %robotoslab-700;
    color: $white;
    margin-bottom: 25px;
  }
}

.articles {
  padding: 60px 0;

  &__inner {
    display: flex;
  }

  &__list {
    border-radius: 10px;
    background-color: $white;
    margin-right: 30px;
  }

  &__list-item {
    padding: 25px;
    display: flex;
    align-items: center;
    max-width: 848px;
    position: relative;
    border-bottom: 1px solid #d9dadb;
    cursor: pointer;

    & svg {
      width: 20px;
      height: 20px;
      position: absolute;
      fill: $gray;
      top: 25px;
      right: 25px;
    }

    &--active {
      & svg {
        fill: $pink;
      }
    }
  }

  &__list-item-img {
    margin-right: 25px;
  }

  &__list-item-subtitle {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    color: $dark-aqua;

    &--pink {
      color: $pink;
    }

    &--purple {
      color: $purple;
    }
  }

  &__list-item-title {
    @extend %robotoslab-700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  &__list-item-text {
    margin-bottom: 20px;
    color: $dark-gray;
  }

  &__list-item-date {
    color: $light-gray;
    margin-right: 10px;
  }

  &__list-item-comments {
    padding-left: 20px;
    margin-right: 10px;
    color: $light-gray;
    position: relative;

    & svg {
      width: 15px;
      height: 15px;
      position: absolute;
      fill: $gray;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__list-item-likes {
    padding-left: 20px;
    color: $light-gray;
    position: relative;

    & svg {
      width: 15px;
      height: 15px;
      position: absolute;
      fill: $gray;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__list-sidebar {
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 263px;
    height: 100%;
  }

  &__list-sidebar-item {
    padding: 17px 25px;
    display: flex;
    align-items: center;
    border-top: 1px solid $border-color;

    &:nth-child(1) {
      padding: 0;
      border: 0;
    }

    &:nth-child(9) {
      padding: 0;
    }
  }

  &__list-sidebar-img {
    margin-right: 10px;
  }

  &__list-sidebar-text {
    color: $dark-gray;
  }

  &__list-sidebar-time {
    margin-top: 5px;
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: $light-gray;
  }

  &__list-sidebar-title {
    padding: 20px 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__list-sidebar-link {
    @extend %robotoslab-700;
    padding: 11px 96px;
  }
}

.benefits {
  background-color: $bg-gray;
  padding: 60px 0;

  &__inner {
    display: flex;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    max-width: 555px;
  }

  &__list-item {
    background-color: $white;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      background-color: $dark-blue;
      position: relative;
      z-index: 10;

      &::after {
        background-image: url("../images/icons/oval.svg");
        width: 260px;
        height: 260px;
        position: absolute;
        content: "";
        z-index: -1;
        right: 0;
      }
    }
  }

  &__list-item-subtitle {
    color: $aqua-gray;
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__list-item-title {
    color: $bg-gray;
    @extend %robotoslab-700;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;

    &--big {
      @extend %robotoslab-700;
      font-size: 25px;
      line-height: 30px;
      max-width: 243px;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__list-item-text {
    color: $dark-gray;
    margin-bottom: 10px;

    &--big {
      max-width: 213px;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__list-item-date {
    font-size: 12px;
    color: $light-gray;
    line-height: 15px;
  }

  &__list-item-img {
    z-index: 10;
  }
}

.benefits-slider {
  &__content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 555px;
    width: 100%;
    padding: 50px;
    padding-bottom: 165px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    margin-right: 30px;
    height: 100%;

    &::after {
      content: "";
      inset: 0;
      position: absolute;
      background: rgba(64, 48, 61, 0.35);
      z-index: -1;
    }

    &::before {
      content: "Hot";
      color: $white;
      padding: 5px 12px;
      background-color: $pink;
      border-radius: 3px;
      position: absolute;
      top: 18px;
      left: 18px;
    }
  }

  &__name {
    margin-bottom: 54px;
    opacity: 0.85;
    color: $white;
    padding-top: 53px;
    position: relative;

    &::after {
      content: "";
      background-image: url("../images/benef-avatar.jpg");
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 45px;
      height: 45px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__work {
    display: block;
    opacity: 0.4;
    margin-top: 5px;
  }

  &__text {
    @extend %robotoslab-700;
    font-size: 40px;
    line-height: 50px;
    color: $white;
    margin-bottom: 38px;
  }

  &__link {
    padding: 10px 25px 10px 50px;
    position: relative;

    & svg {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
  }

  &__num {
    margin-left: 5px;
    @extend %lato-400;
    font-size: 14px;
    line-height: 20px;
  }
}

.commercial {
  padding: 60px 0 70px 0;
  text-align: center;
  background-color: $white;

  &__title {
    margin-bottom: 25px;
    @extend %robotoslab-700;
    font-size: 40px;
    color: $bg-gray;
    line-height: 50px;
  }

  &__form-input {
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid $border-color;
    border-radius: 5px;
    max-width: 313px;
    width: 100%;
    color: $bg-gray;
  }

  &__form-btn {
    padding: 10px 29px;

    &:hover {
      color: $dark-aqua;
      border: 1px solid $dark-aqua;
    }
  }
}

.footer {
  padding: 70px 0 55px 0;
  background-color: $white;
  
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  &__nav-list {
    max-width: 165px;
    width: 100%;
    padding-top: 30px;
    border-top: 5px solid $pink;

    &--purple {
      border-top: 5px solid $purple;
    }

    &--aqua {
      border-top: 5px solid $dark-aqua;
    }

    &--orange {
      border-top: 5px solid $orange;
    }

    &--green {
      border-top: 5px solid $light-green;
    }

    &--aquagray {
      border-top: 5px solid $aqua-gray;
    }
  }

  &__nav-list-title {
    color: $bg-gray;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &__nav-list-item {
    color: $dark-gray;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-child(1) {
      margin-bottom: 0;
    }
  }

  &__bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 40px;
  }

  &__bottom-link {
    margin-right: 30px;
  }

  &__bottom-list {
    display: flex;
    margin-right: auto;
  }

  &__bottom-list-item {
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__bottom-socials {
    display: flex;
  }

  &__bottom-socials-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__bottom-socials-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    border-radius: 50%;

    & svg {
      width: 20px;
      height: 20px;
      fill: $white;
    }

    &--blue {
      background-color: #4267b2;
    }

    &--aqua {
      background-color: $dark-aqua;
    }

    &--pink {
      background-color: $pink;
    }

    &--gray {
      background-color: $bg-gray;
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    color: $light-gray;
  }

  &__copy-text {
    max-width: 750px;
  }
}
